<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="username"  value="Farith"></parameter>
    <parameter name="password"  value="Karthik"></parameter>
  
    <classes>
      <class name="org.cts.tst.A"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
